<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>React + Spring</title>
 

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body class="container">

<div class="row"><header style="background-color:lightgray;text-align:center"><marquee direction="right">Welcome to galleria.com!</marquee></header></div>
<div class="row"><h1 style="color:#668aff;text-align:center;text-shadow:#0036e6;text-decoration:blink;">Galleria</h1></div>

<div class="row">
<div class="col-lg-3" style="background-color:#D0D0D0">List of paintingtypes....................</div>

<div class="col-lg-9" style="background-color:#e6ecff">paintings..Description
<img src="/galleria_app/src/main/resources/static/images/bg.jpg" class="img-responsive"
width="500" th:src="@{/images/bg.jpg}"></img>
</div>
<div style="background-color:#FFB6C1;">

</div>
</div>
<div class="row">
</div>
<div class="row"><footer style="background-color:lightblue;text-align:center">&copy galleria.com</footer></div>

</body> 
</html>